{% extends 'member/base.html' %}
{% load static %}


{% block body %}

<div class="container-fluid">
<div class="row">
<div class="col-sm-3" style="color: red">
  <p style="color: blue"></p>  
</div>



<div class="col-sm-6" style="padding-top: 87px">
    <div class="card">
  <div class="card-header text-primary">
     About us ?
  </div>
</div>


<div class="card mb-4">
<div class="card-body">

<div class="row">
	<div class="col-sm-4"></div>
	<div class="form-group">
<h6> WE ARE COMMUNITY LIBRARY </h6>
<p> The Society started the public library services in a limited way both in respect of housing the readership 
  and providing library services at Bhrikutimandap, Kathmandu from 9 July 2005.
   The Society is overwhelmed by the ever increasing public response in its favor. 
   People of every walk have expressed their appreciation and support for the initiatives taken by the Society.
    Now, the Society is running library services from two blocks. </p>

<h6> VISION </h6>
<p> The vision of the Society is to develop Kathmandu Valley Public Library as one of the effective vehicles
   to achieve the goals of creating a society that is educated, civilized, democratic and peaceful. 
   The library will play a vital role in promoting Nepal 
  as a modernized and developed country citizen by providing access to information for all </p>

<h6> MISSION </h6>
<p> Mission of KVPL is to provide the proper library facilities all over the Nepali society. </p>
</div>

	<div class="col-sm-4"></div>
	</div>


                      </div>
                    </div>  
                  </div>

</div>



<div class="col-sm-3" style="color: red">
</div>

</div>
</div>

    <script type="text/javascript" src="{% static 'js/jquery-2.1.3.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery.dataTables.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/main.js' %}"></script>
</body>

</html>
{% endblock %}












